<div class="row">
  <div class="col-sm">
    <h2>My crypto wallets</h2>
    <ul class="wallets">
      <li *ngFor="let currency of wallet" (click)="onSelect(currency)"
          [class.selected]="currency == selectedCurrency">
        <span class="badge">{{currency.id}}</span> {{currency.name}}
        <button type="button" class="close" aria-label="Close" (click)="onDelete(currency)">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
    </ul>
  </div>

  <div class="col-sm h-100 w-100">
    <app-wallet-details [currency]="selectedCurrency"></app-wallet-details>
  </div>

</div>
<div class="row">
  <div class="d-flex justify-content-center align-items-center col-sm">
    <div class="d-flex flex-row">
      <app-wallet-form [currency]="selectedCurrency" (eventEmitter)="onAdd($event)"></app-wallet-form>
    </div>
  </div>
</div>





